.cover-photo{
  height: 50%;
  width: 50%;
  border-radius: 20px;
  border: 12px solid black;
  margin-left: 20%;
}


.title{
  font-size: 50px;
  margin-left: 40%;
}

.my-profile{
  height: 50%;
  width: 50%;
  border-radius: 20px;
}

.Video-container{
  border: 12px solid black;
  margin-top: 20px;
  margin-left: 40%;
}